.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* App Shared Styles */

html {
	font-family: 'Times New Roman', Times, serif;
}

#navbar {
	background-attachment: fixed;
	background-color:white;
	top: 0px;
	position: fixed;
  width: 100%;
}

#navbar h1 {
  width: 100%;
  color: #044163;
  font-size: 3em;
}

nav ul {
	display: flex;
}

nav li {
	flex-flow: row wrap;
  flex: 1 1 auto;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #044163;
}

nav a:hover {
  color: orangered;
}

div#headerImg img {
	width: 100%;
}

div#headerImg p {
	position: absolute;
	top: 400px;
	left: 560px;
	color: white;
	font: 2em/0em 'Century Gothic', sans-serif;
} 

/* Homepage Styles */

div.row {
	width: 100%;
}

div.row section {
	margin: 0px auto 0px auto;
	padding: 50px;
	min-width: 450px;
	max-width: 800px;
}

div.row h2 {
	font-size: 2em;
	color: #08235a;
	line-height: 2.3em;
}

div#secondRow {
	background-color: #f08d4a;
	color: white;
}

div#secondRow div {
	display: flex;
}

div#secondRow figure {
	flex-flow: row wrap;
	flex: 1 1 auto;
	color: white;
}

div#secondRow figcaption {
  font-size: 1.3em;
  padding-top: 15px;
}

div#thirdRow {
	background-color: #055471;
	color: white;
}

div.formFragment {
  font-size: 2em;
}

div#fullForm form  { 
  display: table;   
  width: 100%;   
}

div#fullForm p { 
  display: table-row;  
}

div#fullForm label {
  font-size: 1.3em;
  padding-right: 10px;
}