.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* App Styles */

html {
	font-family: 'Times New Roman', Times, serif;
}

#navbar {
	background-attachment: fixed;
	background-color: #044163;
	padding: 2em;
	top: 0px;
	position: fixed;
	width: 100%;
}

#navbar nav {
	width: 40%;
	float: right;
}

#navbar h1 {
  width: 25%;
  color: white;
}

nav ul {
	display: flex;
}

nav li {
	flex-flow: row wrap;
	flex: 1 1 auto;
	color: white;
}

div#headerImg img {
	width: 100%;
}

div#headerImg span {
	position: absolute;
	top: 400px;
	left: 560px;
	color: white;
	font: 2em/0em 'Century Gothic', sans-serif;
} 

/* Homepage Styles */

div.section {
	width: 100%;
}

div.section section {
	margin: 0px auto 0px auto;
	padding: 50px;
	min-width: 450px;
	max-width: 800px;
}

div.section h2 {
	font-size: 2em;
	color: #08235a;
	line-height: 2.3em;
}